*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #e1dcd3;
  height:100%;
  min-height: 100vh;
}

#content {
  float:right;
  width: 80vh;
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  vertical-align: top;
  background-image: url("track.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  font-family:fantasy;
  font-size: larger;
}

.optional_id {
  padding-top: 90vh;
  text-align: center;
  color: purple;
  font-size: large;
  font-family:fantasy;
}

.button {
  float:center;
  margin-top: 5px;
  width: 100px;
  text-align: center;
  background-color: #201714;
  border-radius: 10px;
  box-shadow: 2px 2px 1px #444;
  margin: 0px auto;
  padding: 10px;
  color: white;
  font-weight: bolder;
  font-size: small;
  font-family:fantasy;
}
